body {
  background-color: #f8efef;
}

/* NAVBAR */

.navbar-brand {
  font-family: Agbalumo;
  color: rgb(107, 79, 43);
}

.log-btn {
  background-color: rgb(107, 79, 43);
  color: white;
  transition: all 0.3s;
  border: none;
}

.log-btn:hover,
.modal .sign-btn:hover {
  background-color: rgb(146, 146, 146);
  opacity: 0.9;
}

.modal i {
  color: rgb(107, 79, 43);
}

.modal .sign-btn {
  background-color: rgb(107, 79, 43);
  border: none;
  margin-top: 20px;
}

/*  Slides */

.swiperSlide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sw-slide {
  position: relative;
}

.slide-text {
  position: absolute;
  max-width: 500px;
  text-align: center;
  font-family: Agbalumo;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    0deg,
    rgb(148, 207, 207) 23%,
    rgb(199, 224, 195) 56%
  );
}

/* CHeck Avilability */

.check-av {
  background-color: rgb(235, 234, 234);
  border-radius: 20px;
  box-shadow: 0px 3px 16px 8px rgba(0, 0, 0, 0.2);
}

.Avlibality {
  margin-top: -60px;
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
}

/* ROOMS */

.rTitle {
  font-family: Agbalumo;
  padding-top: 120px;
  margin-bottom: 60px;
}

/* More Room Detail */

.moreDet {
  font-family: Agbalumo;
  margin-bottom: 40px;
}

.checkRoom {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.checkRoom:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* GALLERY */
.gallery h1 {
  margin-top: 150px;
  margin-bottom: 40px;
  font-family: Agbalumo;
}

.carousel-item img {
  height: 800px;
  object-fit: cover;
}

.carousel-inner {
  border-radius: 30px;
}

/* FACILITIES */

.facilities h1 {
  padding-top: 90px;
  margin-bottom: 40px;
  font-family: Agbalumo;
}

.facilities img {
  height: 250px;
  object-fit: cover;
}

/* REVIEWS */

.reviews h1 {
  margin-top: 150px;
  margin-bottom: 40px;
  font-family: Agbalumo;
}

.reviews img {
  width: 105px;
  height: 105px;
  object-fit: cover;
  border-radius: 50%;
}

.mySwiperReviews p {
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.mySwiperReviews i {
  color: coral;
}

/* REACH US */

.reachUs h1 {
  padding-top: 130px;
  margin-bottom: 50px;
  font-family: Agbalumo;
}

.reachUs i {
  font-size: 30px;
  color: rgb(107, 79, 43);
  transition: opacity 0.3s ease;
}

.reachUs i:hover {
  opacity: 0.7;
}

.reachUs a {
  text-decoration: none;
  color: black;
}

.reachUsContact {
  border-radius: 40px;
}

/* FOOTER */
.footer {
  margin-top: 200px;
  background-color: white;
  padding: 50px;
}

.footer h1 {
  font-family: Agbalumo;
}

.footer .socials {
  text-decoration: none;
  color: black;
  transition: opacity 0.3s;
}

.footer .socials:hover {
  opacity: 0.7;
}

.footer li {
  list-style: none;
}

.footer li a {
  transition: opacity 0.3s;
}

.footer li a:hover {
  opacity: 0.7;
}

.footer .paym {
  font-size: 30px;
}

.copyright p {
  font-weight: 500;
}

.copyright i {
  font-size: 19px;
}

/* ABOUT US */

.aboutUs .abtTitle {
  margin-top: 70px;
  font-family: Agbalumo;
}

.abt-desc {
  margin-top: 120px;
}

.abtDescImg {
  border-radius: 25px;
}

.aboutUs p {
  font-size: 17px;
}

.managTitle {
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: Agbalumo;
}

.abtIcons {
  height: 85px;
}

.stats {
  border-radius: 25px;
}

/* ADMIN LOGIN */

.log-formAD {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: rgb(221, 219, 219);
  padding: 30px;
  border-radius: 20px;
}
